# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse specific files
bin
.settings
.classpath
.project

# Ignore IntelliJ IDEA specific files
.idea/

# Ignore other things
*.iml
**/target
*.log

doc/intern/
*.Jenkinsfile
AppServer/
de.gematik.smartcards.net/
de.gematik.smartcards.sicct/

